:root {
    --font-family: "Poppins", sans-serif;
    --transition: .2s all ease-out;

    --white: #fff;
    --bg-main: #0c0f14;
    --bg-second: #141921;
    --bg-btn: #d17842;
    --text-grey: #52555a;
    --text-grey-light: #aeaeae;
  }
  