.join-form{
    &__input {
        min-width: 310px;
        color: rgb(82, 85, 90);
        font-family: Poppins;
        font-size: 10px;
        font-weight: 500;
        line-height: 20px;
        border-radius: 15px;
        background: rgb(20, 25, 33);
        outline: none;
        border: 0;
        padding: 13px 153px 12px 19px;
        margin-bottom: 28px;
    }
}